*{
    font-size: 20px;
}

body{
    margin:0;

}
.main{
    display: flex;
    flex: 1;
    height: 80vh;
}
header, footer {
    display: flex;
    flex-direction: column;
    background: yellowgreen;
    height:10vh;
    justify-content: center;
    padding-left: 20px;
}
nav, aside{
    flex: 1 0 20vh;
    background: lemonchiffon;
    display: flex;
    align-items: center; 
    padding-left: 20px;
}
.article{
    width: 80%;
    display: flex;
    padding-left: 20px;
    align-items: center; 
}

@media (max-width: 576px){
    .main{
        flex-direction: column;
    }
    .article{
        flex: 1;
        order: -1;
    }
    nav, aside{
        flex: 1;
    }
}